*{
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
body{background-color:#ccffff;
    text-align: center;
}
main{
    position: relative;
}
#title{
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
    background-image: linear-gradient(to left, red , yellow);
    background-clip: text;
   color: transparent;
}
#img-div{
    padding: 0px;
    position: absolute;
    bottom: 400px;
    left: 50%;
    top: 50px;
    transform: translatex(-60%);
}
img{
    max-width: 100%;
    height: 100px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}
#img-caption{
    line-height: 10px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
#info{
 padding: 0px;
 margin: 0px;
}
#tributte-info{
margin-top: 170px;
padding: 80px 60px 20px 60px;
line-height: 150%;
font-size: 15px;
text-align: justify;
}
#me{
    position: absolute;
    width: 10px;
    background-color: tomato;
    height: 100px;
    left: 60px;
}

a{
    text-decoration: none;
    margin-right:10px ;
    font-size: 15px;
}


footer{
    display: flex;
    justify-content: center;
}

@media(max-width:600px){

#img-div{
    margin-left: 0px;
}
#tributte-info{
padding: 80px 20px 20px 20px;
}


@media(max-width:500px){
    #me{
      display: none;
    }
    
#img-caption{
    line-height: 14px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
#tributte-info{
line-height: 100%;
}
img{
    margin-bottom: 10px;
}

}