*{
    margin: 0px;
    padding: 0px;
}
h1{font: bold 20px tahoma;}
h2{font: bold 20px tahoma;}
header, section, footer, aside,  nav,article,hgroup{
display:block;
}
body{width: 100%;
display: -webkit-box;
-webkit-box-pack:center ;
}
#bigwrapper{
    max-width: 1000px;
    margin: 20px 0px;display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-box-flex: 1;
}
#topheader{
    background: yellow;
    border: 3px solid black;
    padding: 20px;
}
#topmenu{
    border:solid red;
    background:blue;
    color: white;
}
#topmenu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 20px tahoma;
    
}
#newdiv{
  display: -webkit-box; 
  -webkit-box-orient: horizontal; 
}#mainsection{
    border: 1px solid
    blue;
    -webkit-box-flex: 1;
    margin: 20px;
    padding: 20px;
}#sidenews{
    border: 1px solid red;
    width: 220px;
    margin: 20px 0px;
    padding: 30px;
    background: #66CCC6;
}#footer{
    text-align: center;
    padding: 20px;
    border-top:2px solid green;
}