*{
   color: white;
   text-decoration: none;
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   line-height: 150%;
}


body{
   background-color: rgb(14, 46, 46);
   position: relative;
}




.wrapper{
   position: absolute;
   left: 170px;
}



#menunav{
  display:none;
}



#bar{
display:none;
}



#home{
   width: 100%;
   height: 100vh;
   position: relative;
}



.homeimage{
width: 100%;
height: 100vh;
}



header{
   position: absolute;
   text-align: center;
   width: 100%;
   z-index: 1;
   padding-top: 50px ;
}



header h4{
   font-style: italic;
   font-size: 19px;
   color: blanchedalmond;
}






header span{
   font-size: 19px;
   font-style: italic;
   color: blanchedalmond;
}





header p{
   font-size: 19px;
   font-style: italic;
   color: blanchedalmond;
}



aside{
   position: fixed;
   top: 0px;
   bottom: 0px;
   left: 10px;
   width: 200px;
   background-color:  rgb(14, 46, 46);
   z-index: 1;
   text-align: center;
   transition: all .5s ease-out;
}






#aside img{
   height: 120px;
   filter: grayscale(50%);
   width: 200px;
   display: block;
}



#aside nav ul{
   padding: 0px;
   margin: 0px;
}



#aside nav ul li{
  list-style: none;
 
}



#aside nav ul li a{
   display: block;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 10px;
   text-align: center;
   line-height: 50px;
}




#aside nav ul li:hover{
   background: darkcyan;
   border-radius: 5px;
}







#aside nav ul li:active{
   background: rgb(19, 81, 100);
}






#about{
   height:100vh;
   width: 100%;
}



.about{

   padding: 30px 160px 0px 80px;
   text-align: justify;
   line-height: 150%;
   font-size: 15px;
   position: relative; 
   top: 50%;
   transform: translateY(-50%);
}




.about h3{
   font-size: 16px;
   text-transform: uppercase;
   text-align: left;
   margin-bottom: 10px;
}




#skills{
   position: relative;
   height: 100vh;
   width: 100%;
}





.skills{
   padding: 10px 160px 0px 80px;
   font-size: 15px;
   position: absolute;
   top: 50%;
   transform: translateY(-30%);
   
}




.skills h5{
   margin-top: 10px;
   margin-bottom: 5px;
   text-transform: uppercase;
   font-size: 9px;
   font-style: italic;
}




.skills .big__wraper{
   background: gray;
   height: 20px;
   display: flex;
   justify-content: right;
   line-height: 150%;
   
}






.skills .big1{
   background-color: rgb(223, 219, 219);
   height: 20px;
   width: 100px;
}

.skills .big2{
   background-color:rgb(223, 219, 219);
   height: 20px;
   width: 80px;

}


.skills .big3{
   background-color: rgb(223, 219, 219);
   height: 20px;
   width: 160px;

}
.skills .big4{
   background-color: rgb(223, 219, 219);
   height: 20px;
   width: 40px;

}


.skills{
   font-size: 13px;
   line-height: 1px;
}


#archivers img{
   height: 100px;
   display: block;
   width: 100%;
}




#archivers{
position: relative;
height: 100vh;
}


.imgdiv{
padding: 10px 80px 0px 80px;
position: absolute;
top: 40%;
transform: translateY(-40%);
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 2px;
}

.img{
   width: 250px;
   border: 1px solid gray;
   padding: 5px 5px 0px 5px;
}


.img h5{
margin: 5px 10px 5px 10px;
}






#contact{
   position: relative;
   height: 100vh;
   width: 100%;
   
}


.contact{
   width: 100%;
   padding: 30px 160px 0px 100px;
   position: absolute;
   top:50% ;
   transform: translateY(-50%);
}




.contact p{
  display: block; 
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 10px;
}


.contact textarea:focus{
opacity: 0.9;
outline: 1px solid green;
 }




.contact input{
width: 30%;
outline: 1px solid gainsboro;
border:none;
margin-top: 20px;
background: none;
opacity: 0.1;
}



 .contact button{
width: 40px;
border-radius: 5px;
margin-top: 15px;
background: none;
border: 1px solid gainsboro;
}



 .contact  textarea{
max-height: 90px;
outline: 1px solid gainsboro;
border:none;
background: none;
opacity: 0.8;
width: 100%;
opacity: 0.1;
}




.getinfo{ 
  display: none;
   background: darkcyan;
   position: fixed;
   top: 10%;
   left: 50%;
   transform: translateX(-30%);
   height: 400px;
   width: 400px;
   z-index: 1;
}









.getinfo img{
   position: absolute;
   height: 90px;
   border-radius: 50%;
   width: 90px;
   left: 37%;
   bottom: 85%;
   display: block;
 
}


.getinfo div{
   margin-top: 60px;
}



.getinfo input:focus{
outline: 1px solid green;
 }

.getinfo p{
   padding-left: 5px;
}






 .getinfo input{
width:390px;
outline: 1px solid gainsboro;
border:none;
background: none;
opacity: 0.9;
margin: 0px 5px 0px 5px;
}








footer{
   width: 100%;
   text-align: center;
}









@media(max-width:1024px){

   .wrapper{
position: absolute;
left: 250px;
   }



#aside{
   width: 170px;
   left: 10px;
}



#aside img{
   width: 170px;
}



#aside nav ul{
   width: 170px;
}


#aside ul li{
   height: 50px;
}




}



@media(max-width:900px){
   .wrapper{
      position: absolute;
      left: 230px;
   }



#aside{
   width: 150px;
   left: 40px;
}



#aside img{
   width: 150px;
}



#aside nav ul{
   width: 150px;
}




   .getinfo{
      width: 240px;
   }

.getinfo input{
   width: 230px;
}

.getinfo img{
   left: 30%;
}





#archivers img{
   width: 100%;
}
.img{
   width: 150px;
}

.imgdiv{
   padding: 10px 60px 0px 80px;
}

.about{
   padding: 0px 90px 0px 80px;
   font-size: 14px;
   letter-spacing: .20px;

}
.skills{
   padding: 10px 90px 0px 70px;
}
.contact{
   padding: 10px 90px 0px 50px;
}

}
















@media(max-width:600px){
           
   .wrapper{
      left: 0px;
   }
#aside{
   left: 0px;
}

.imgdiv{
   padding: 10px 50px 0px 50px;
}
.about{
   font-size: 15px;
}
.skills{
   padding: 10px 60px 0px 50px;
}
.contact{
   padding: 10px 50px 0px 60px;
}



header h4{
   font-size: 13px;
}






header span{
   font-size: 13px;
}





header p{
   font-size: 13px;
}




.aside{
   display: none;
   
}









   #aside{
  width: 180px;
  height: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin-right: 200px;
  }


  #aside img{
   filter: grayscale(50%);
   width: 180px;
   display: block;
   height: 90px;
  }



  #aside nav ul{
   width: 180px;
   padding: 0px;
   margin: 0px;
   height: none;
   }



  #aside nav{
   background-color: rgb(14, 46, 46);
   }



  #aside nav ul li{
  list-style: none;
  height: 80px;
  }



  #aside nav ul li a{
   display: block;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 10px;
   text-align: center;
   line-height: 70px;
  }




   #aside nav ul li:hover{
   background: darkcyan;
   }



  #aside nav ul li.active{
   background: darkcyan;
   }




   #aside nav ul li:active{
   background: yellow;
  }


 
.imgdiv{
display: block;
grid-template-columns: none;
grid-column-gap: 0px;
width: 100%;
}


.img{
   width: 100%;
   border:none;
   padding: 5px;
}
  



#archivers img{
   height: 250px;
}
   

.contact  textarea{
margin-bottom: 10px;
}



.getinfo{
  position: absolute;
   width: 220px;
   font-size: 15px;
   left: 90px;
   top: 40px;
}


.getinfo input{
   width: 210px;
}


.getinfo img{
   left: 35%;
   bottom: 93%;
   width: 50px;
   height: 50px;
}




#bar{
z-index: 3;
display: block;
position: absolute;
left: 82%;
top: 10px;
color: black;
background-color: darkcyan;
   padding: 5px 8px 5px 8px;
   border-radius: 5px;
}


.menu{
   float: right;
   padding-top: 20px;
   padding-right: 20px;
}

}