body{
   text-align: center; 
}
#bigwrapper{
display: block;
width: 500px;
margin: 50px auto;
background: yellow;
border:1px solid blue;
text-align: center;
}
#text{
    font: bold 30px tahoma;
    
}