@import 'settings';
@import 'variables';

.slide1 {
	width: 100%;
	min-height: 100%;
	background-image: url('/webpage1/portfolio/images/william-iven-gcsNOsPEXfs-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	position: absolute;

	.blur {
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 0px;
		left: 0px;
		background-color: black;
		opacity: 0.5;
	}

	.description {
		position: relative;
		z-index: 100;
		top: 40vh;
		color: white;
		@include mobile(769) {
			padding-left: 40px;
		}

		p {
			@include mobile(300) {
				font-size: 18px;
				position: relative;
				z-index: 0;
				@include padding(0, 10, 0, 10, rem);
			}
		}

		.more_inform {
			input {
				width: 70%;
				height: 50px;
				background-color: white;
				border: none;
				padding: 10px;
				text-align: center;
				@include mobile(769) {
					width: 50%;
				}
			}

			&::after {
				content: '';
				position: absolute;
				@include mobile(200) {
					width: 28%;
				}
				height: 50px;
				background-color: $btncolor;
				@include mobile(769) {
					width: 19%;
				}
			}
		}

		.navigation_button {
			position: relative;
			span {
				display: block;
				position: absolute;
				left: 50%;
				top: 25vh;
				transform: translateX(-50%);
				@include mobile(769) {
					top: 35vh;
					left: -10%;
					transform: translateX(-10%);
				}
			}

			&.position {
				opacity: 0;
			}
		}

		button {
			background-color: $primary-color;
			@include size(60px, 60px);
			color: $btncolor;
			border-radius: 50%;
		}

		.animate_btn.shift {
			@include animate(btn_animate, 0.9s, ease-out);
		}
	}
}
