@import 'variables';
@import 'settings';

.slide2 {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: $primary-color1;

	.about_inner {
		padding-top: 15vh;
		padding-bottom: 2vh;
		@include mobile(1000) {
			padding-top: 2vh;
		}
		img {
			@include mobile(200) {
				height: 80px;
				width: 80px;
			}
			@include mobile(1000) {
				margin-top: 12vh;
				height: 200px;
				width: 200px;
			}
			@include mobile(300) {
				height: 100px;
				width: 100px;
			}
			@include mobile(600) {
				height: 150px;
				width: 150px;
			}
			@include mobile(900) {
				height: 200px;
				width: 200px;
			}
			border-radius: 50%;
			transform: translateX(10%);
		}
	}
	.design_color {
		display: block;
		height: 1px;
		width: 100%;
		background-color: $primary-color;
	}

	.title {
		color: $btncolor;
	}

	button {
		background-color: $primary-color;
		@include size(60px, 60px);
		color: $btncolor;
		border-radius: 50%;
	}

	.animate_btn.shift1 {
		@include animate(btn1_animate, 0.9s, ease-out);
	}
}
