@import 'settings';
@import 'homeslider1';
@import 'variables';

.nav_container {
	ul {
		display: none;
		transition: 0.4;
		@include mobile(1000) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			padding-top: 30px;
			width: 90%;
		}
	}

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: white;
		&:hover {
			color: white;
		}
		@include mobile(1000) {
			@include padding(5, 10, 5, 10, rem);
		}
	}
	.active {
		background-color: $btncolor;
		@include mobile(1000) {
			border-radius: 3%;
		}
		@include animate(shownav, 0.1s, ease-out);
	}
}

.nav_container.nav_active {
	ul {
		display: block;
		width: 240px;
		min-height: 50vh;
		background-color: $primary-color;
		position: absolute;
		@include marginSet(2, 10, 0, 0, rem);
		z-index: 100;
		@include animate(shownav, 0.6s, ease-out);
		text-align: center;
		padding: 0px;
	}

	li {
		list-style: none;
		@include animate(shownav, 0.6s, ease-out);
	}

	a {
		margin-top: 25px;
		display: block;
		text-decoration: none;
		color: white;
		@include padding(5, 0, 5, 0, rem);
	}
}
