@import 'settings';
@import 'homeslider1';
@import 'homeslider2';
@import 'variables';
@import 'navigation';
@import 'profile';
@import 'skills_page';
main {
	header {
		@include size(100vw, 10vh);
		z-index: 100;
		background-color: $primary-color;
		@include mobile(200) {
			position: fixed;
		}
		.logo {
			@include padding(15, 0, 6, 2, rem);

			@include mobile(320) {
				padding-top: 1rem;
			}
			@include mobile(375) {
				padding-top: 0.9rem;
			}

			img {
				@include size(30px, 30px);
				padding: 5px;
				border-radius: 50%;
				background-color: $primary-color1;

				@include mobile(375) {
					@include size(40px, 40px);
				}
			}
			span {
				color: rgb(134, 252, 232);
				font-size: 15px;

				@include mobile(375) {
					font-size: 18px;
				}
				@include mobile(900) {
				}
			}

			.menu_icon {
				float: right;
				color: $primary-color;
				@include marginSet(0.5, 0.6, 0, 0, rem);
				@include padding(4, 8, 4, 8, rem);
				background-color: $btncolor;
				border-radius: 5%;
				@include mobile(1000) {
					display: none;
				}
			}
		}
	}
	.slider_wrapper {
		overflow-x: hidden;
		@include size(100vw, 100vh);
	}
	.slide {
		@include size(100vw, 10vh);
		position: relative;
		width: 100vw;
		height: 100vh;
	}
}
