.slide1 {
  width: 100vw;
  height: 100vh;
  background-image: url("/webpage1/portfolio/images/william-iven-gcsNOsPEXfs-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
}

.slide1 .description {
  position: relative;
  z-index: 100;
  top: 50vh;
  color: white;
  padding-left: 1.875rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 1.875rem;
}

@media (min-width: 300px) {
  .slide1 .description p {
    font-size: 20px;
    padding-left: 1.25rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-right: 1.25rem;
  }
}

.slide1 .description button {
  background-color: #f79aa9;
  width: 100px;
  height: 60px;
  color: #86fce8;
}

.nav {
  background-color: red;
}
